

<%= form_with(model: @author) do |f| %>
  <% if @author.errors.any? %>
    <% @author.errors.full_messages.each do |messages| %>
     <p><%= messages %></p>
    <% end %>
  <% end %>

  <div class = 'form-group'>
    <%= f.label "Name Author" %>
    <%= f.text_field :name, class: "form-control form-control-lg" %>
  </div>
  <br>
  <div class = 'books'>
    <%= f.fields_for :books do |e|%>
      <%= render 'book_fields', f: e%>
    <% end %>
  
    
    <%= link_to_add_association "Add Books", f, :books, data: { association_insertion_node: '.books ', association_insertion_method: :append }, class: "btn btn-warning" %>
  </div>

  <br>

        

  <div >
    <%= f.submit 'Submit', class: "btn btn-primary" %>
  </div>

<% end %>
  
