<%= bootstrap_form_with(model: person) do |f| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='container'>
    <%= f.text_field :full_name, wrapper: { class: 'mb-3 has-warning' } %>
    <%= f.email_field :email %>
    <div class="row">
      <div class="col"><%= f.text_field :phone, wrapper: { class: 'mb-0 has-warning', pattern: '\d*'  } %>
        <small class="text-muted ">Please enter only numbers.</small>
      </div>
      <div class="col"><%= f.text_field :age, add_control_col_class: "additional-control-col-class" %></div>
      <div class='col d-flex align-items-center justify-content-center  ' >
        <%= f.label "Gender :" %> 
          <%= f.radio_button :gender, "male" %>
          <%= f.radio_button :gender, "female" %>
      </div>
    </div>
    <%= f.file_field :avatar %>
    <%= f.text_field :address, wrapper: { class: 'mb-3 has-warning' } %>
    <%= f.primary "Save" %>
  </div>
<% end %>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var form = document.getElementById('your-form-id');
    var phoneInput = document.getElementById('phone-input');

    form.addEventListener('submit', function(event) {
      if (!/^\d+$/.test(phoneInput.value)) {
        alert('Please enter only numbers in the phone field.');
        event.preventDefault(); // Ngăn chặn form submit
      }
    });
  });
</script>

  <%= button_to "Delete", person, method: :delete, class: "btn btn-sm btn-danger mx-2" %>
