<%= form_with(model: student)  do |form| %>

  <% if @student.errors.any? %>
    <% @student.errors.full_messages.each do |messages| %>
      <p><%= messages %></p> 
    <% end %>   
  <% end %>

  <div class = 'form-group'>
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control form-control-lg' %>
  </div> 
  <br>
  <div class = 'form-group'>
    <%= form.label :email %>
    <%= form.email_field :email, class: 'form-control form-control-lg' %>
  </div> 
  <br>
  <div class = 'form-group'>
    <%= form.radio_button :gender, "male" %>
    <%= label_tag(:gender_male,   "Male") %>
    <%= form.radio_button :gender, "female" %>
    <%= label_tag(:gender_female, "Female") %>
  </div>
  <br>
  <div class = 'form-group'>
    <%= form.label :date %>
    <%= form.date_field :date, class: 'form-control form-control-lg' %>
  </div>
  <br>
  <div class = 'form-group'>
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control form-control-lg' %>
  </div>
  <br>
  <div class = 'form-group'>
    <%= form.label :date %>
    <%= form.telephone_field :phone, class: 'form-control form-control-lg' %>
  </div> 
  <br>
  <div >
    <%= form.submit 'Submit', class: "btn btn-primary"  %>
  </div>

<% end %>
