<div class='container'>
  <h1>Update Category</h1>
   <div class='form-group'> 
    <%= form_with model: @category do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    <br>
    <div class='form-group products' >
      <%= f.fields_for :products do |product|%> 
      <%= render 'product_fields', f: product %>
      <% end %>
    </div>  
    <%= link_to_add_association 'Add', f, :products, data: {association_insertion_method: :append}, class: 'btn btn-warning'%>
    <%= f.submit 'Save Category', class: 'btn-primary'%>
    <% end %>
   </div> 
</div>