<div class='container'>
    <%== pagy_nav(@pagy) %>
    <%= turbo_frame_tag :categories do %>
      <%= render @categories %>
    <% end %>
    <%= turbo_stream.replace :pagination do %>
      <% if @pagy.next.present? %>
        <%= turbo_frame_tag :pagination,
                    loading: :lazy,
            src: categories_path(format: :turbo_stream, page: @pagy.next) %>
      <% end %>
    <% end %>
    <div class="d-flex">
    <%= button_to "Add New Category", new_category_path, method: :get ,class:"btn-warning border-0 rounded-pill shadow p-3 m-3" %>
  </div>
</div>