<div class='container'>
    <table class='table'>
    <thead>
    <tr class='text-center'>
      <th scope="col">ID</th> 
      <th scope="col">Name</th>
      <th scope="col">Images</th>
      <th scope="col">Show</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
      <% @products.each do |product| %>
      <tr>
        <th scope="row" class='text-center'><%=   product.id%></th>
        <td class='text-center'><%=link_to product.name, category_path(product)%></td>
        <td class='text-center'><%= image_tag(product.images, width: 100) if product.images.attached?  %></td>
        <td class='text-center'><%= button_to "Show",category_path(product),method: :get, class:"btn-success border-0 rounded-pill shadow px-3 py-2" %></td>
        <td class='text-center'><%= button_to "Edit",edit_category_path(product),method: :get, class:"btn-primary border-0 rounded-pill shadow px-3 py-2" %></td>
        <td class='text-center'><%= button_to "Delete",category_path(product),method: :delete, class:"btn-danger border-0 rounded-pill shadow px-3 py-2" %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

    <%= turbo_stream.replace :pagination do %>
      <% if @pagy.next.present? %>
        <%= turbo_frame_tag :pagination,
                    loading: :lazy,
            src: products_path(format: :turbo_stream, page: @pagy.next) %>
      <% end %>
    <% end %>
    <div class="d-flex">
    <%= button_to "Add New Category", new_category_path, method: :get ,class:"btn-warning border-0 rounded-pill shadow p-3 m-3" %>
  <div class='container d-flex align-items-center justify-content-center'>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
  </div>
</div>